.myform{
    position: relative;
    top: 20px;
    margin-right: 40px;
}
.authGroup{
    width: calc(100% - 2px);
    border: 1px solid #e6e6e6;
    border-top: 2px solid #749bc3;
    border-radius:2px;
    box-sizing: content-box;
    margin: 0 0 15px 0;
    padding:0;
    height: auto;
}
.authGroup:hover{
    border-top: 2px solid green;
}
.ghead{
    height: 30px;
    background-color: #ecf2f8;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #2F4056;
}
.gcontent{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    height: auto;
    padding: 10px 10px;
}
.ztree *{
    font-size: 15px;
}
#menuTree{
    border: 1px solid #e6e6e6;
    border-top: 2px solid #749bc3;
    border-radius:2px;
}
#menuTree:hover{
    border-top-color: green;
}